/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.radius {
  border-radius: 7px;
}

.orange {
  background-color: #FE775A;
}

/* header */
/* navbar */
/* top */

.nav-top {
  background-color: #F4F9FD;
  line-height: 80px;
  border-bottom: 1px inset #32495B;
}
.nav-top ul {
  list-style: none;
}
.nav-top li {
  display: inline-block;
}

.nav-top-container {
  width: 75%;
  margin: auto;
  background-color: #F4F9FD;
}
.nav-top-container::after {
  content: "";
  display: table;
  clear: both;
}

/* zona sinistra */

.nav-top-left {
  height: 80px;
  width: 50%;
  background-color: #F4F9FD;
}
.nav-top-left ul li a {
  text-transform: capitalize;
  color: #32495B;
}
.nav-top-left ul li:first-child a {
  padding-right: 20px;
  border-right: 1px inset #899397;
}
.nav-top-left ul li:last-child a {
  padding-left: 20px;
}

/* zona destra */

.nav-top-right {
  height: 80px;
  width: 50%;
  background-color: #F4F9FD;
  text-align: right;
}
.nav-top-right i {
  color: #00A4BD;
}

.button-login {
  color: #FE775A;
  padding: 12px 10px;
  border: 1px solid #FE775A;
  margin: 0 25px;
}

.button-free {
  padding: 12px 10px;
  color: #F4F9FD;
}

/* header */
/* bottom */

.nav-bot {
  line-height: 80px;
  background-color: #FFFFFF;
}
.nav-bot ul {
  list-style: none;
}
.nav-bot li {
  display: inline-block;
}

.nav-bot-container {
  width: 75%;
  margin: auto;
}
.nav-bot-container::after {
  content: "";
  display: table;
  clear: both;
}

/* zona sinistra */

.nav-bot-left {
  padding-top: 7px;
  height: 80px;
  width: 50%;
}

/* zona destra */

.nav-bot-right {
  height: 80px;
  width: 50%;
  text-align: right;
}
.nav-bot-right ul li a {
  color: #32495B;
  padding-left: 15px;
}
.nav-bot-right i {
  padding-left: 15px;
}

/* zona principale header */

.main-header {
  height: 650px;
  width: 100%;
  background-color: #FEF6EE;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: 100% -12px;
  background-size: 1550px;
}

.main-header-container {
  width: 75%;
  margin: auto;
}

.main-header-text {
  width: 50%;
  padding-top: 50px;
  color: #32495B;
}
.main-header-text h1 {
  font-size: 60px;
  margin-bottom: 45px;
}
.main-header-text p {
  font-size: 20px;
  line-height: 35px;
}
.main-header-text a {
  margin: 30px 0;
  font-size: 20px;
  display: inline-block;
  padding: 30px 40px;
}
.main-header-text span {
  display: block;
  font-size: 15px;
}

/* blocco di separazione header/main */

.hr-block {
  height: 100px;
  width: 100%;
  background-color: #AFEBE4;
  border-top: 4px solid #33475B;
  border-bottom: 4px solid #33475B;
}

/* inizio main */

.main-container {
  height: 1800px;
  width: 100%;
  background-color: green;
}

.cube-section {
  width: 50%;
  background-color: white;
  margin: auto;
  text-align: center;
  padding: 20px 0 50px;
}

.cmr-section {
  height: 300px;
  width: 75%;
  margin: auto;
  background-color: blue;
}

.box-hub-container {
  width: 75%;
  margin: 50px auto;
}
.box-hub-container::after {
  content: "";
  display: table;
  clear: both;
}

.box-hub-1,
.box-hub-2,
.box-hub-3 {
  height: 650px;
  width: 30%;
  background-color: red;
}

.box-hub-2 {
  margin: 0 5%;
}
